@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,700;1,700&display=swap');

html,body{
    margin: 0; 
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 20px;

}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
}

em{
    font-weight: 700;
}
#LandingPage{
    position:relative;
}
#LandingPage img{
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

 #LandingPageIntro{
    z-index: 2;
    position: absolute;
    top: 15vh;
    right: 150px;
    display: inline-block;
    color: white;
    width: 500px;
    background-color: rgba(0, 0, 0,0.5);
    padding: 20px;
    height: auto;
}

#LandingPageCopy{
    z-index: 2;
    position: absolute;
    bottom: 0;
    width:100%;
    left:0px;
    background-color:rgba(31, 32, 53, 0.8);
    color: white;
    padding: 50px 0 50px 100px;
}

#SocialDistancing{
    position: relative;
}

#SocialDistancing img{
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

#SocialDistancing div{
    z-index: 2;
    position: absolute;
    display: inline-block;
    padding: 20px;
    height: auto;
}

 #SocialDistancingIntro{
    top: 10%;
    right: 150px;
    color: black;
    width: 550px;
    background-color: rgb(248, 248, 248);
}

#SocialDistancingCopy h1{
    color: black;
}

#Symptoms{
    left: 40px;
    bottom: 0;
    width: 40%;
    background-color: rgba(5, 23, 21, 0.8);
    color: white;
}
